body {
  font-family: 'Roboto Condensed', sans-serif;
}

html,
body {
 height: 100%;
 position: relative;
}

.navbar {
  background-color: #2d4059 !important;
}

.navbar-toggler {
  border-color: transparent !important;
}

.nav-link {
  color: #d9faff !important;
  font-weight: 550;
}

.nav-link:hover {
  color: rgb(118, 228, 255) !important;
}



.text-color-orange {
  color: #ffffff;
}

.table-responsive {
  height: 85vh;
  overflow-y: scroll;
}

footer {
  color: #ffffff;
  background-color: #283149;
}

.anyClass {
  height:1700px;
  overflow-y: scroll;
}

th, td {
  vertical-align: middle !important;
}

.card-columns {
  column-count: 3;
}



svg {
  display: inline-block;
  vertical-align: middle;
}

.color-bar-map {
  float: right;
  height: 24px;
  width: 150px;
  background: linear-gradient(to right, #ffddd8 0%, #bb0c0c 100%);
}

.color-bar-map span {
  color: rgb(83, 50, 50);
}


.controls{
  width: 100px;
}
