.container {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  min-width:640px; 
}

html,
body {
 height: 100%;
 position: relative;
}

.navbar {
  background-color: #2d4059 !important;
}

.navbar-brand{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.card-columns{
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}

.card-deck{
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  text-align: left;
}

.navbar-toggler {
  border-color: transparent !important;
}

.nav-link {
  color: #d9faff !important;
  font-weight: 500;
}

.nav-link:hover {
  color: rgb(118, 228, 255) !important;
}



.text-color-orange {
  color: #ffffff;
}

.table-responsive {
  height: 85vh;
  overflow-y: scroll;
}

footer {
  color: #ffffff;
  background-color: #283149;
}

.anyClass {
  height:1700px;
  overflow-y: scroll;
}

.anyClass a{
  color: rgb(0, 83, 192);
}

.anyClass a:hover{
  color: rgb(91, 153, 235);
}

th, td {
  vertical-align: middle !important;
}

.card-columns {
  column-count: 3;
}



svg {
  display: inline-block;
  vertical-align: middle;
}

.color-bar-map {
  float: right;
  height: 24px;
  width: 150px;
  background: linear-gradient(to right, #ffcaba 0%, rgb(255, 0, 0) 100%);
}

.color-bar-map span {
  color: rgb(83, 50, 50);
}


.controls{
  width: 100px;
}

.profile-card-3 {
  font-family: 'Open Sans', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  width: 25%;
  min-width: 200px;
  text-align: center;
  height:368px;
  border:none;
}

.profile-card-3 .background-block {
  float: left;
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.profile-card-3 .background-block .background {
width:100%;
vertical-align: top;
opacity: 0.9;
-webkit-filter: blur(0.5px);
filter: blur(0.5px);
 -webkit-transform: scale(1.8);
transform: scale(2.8);
}
.profile-card-3 .card-content {
width: 100%;
padding: 15px 25px;
color:#232323;
float:left;
background:#ebf5fd;
height:50%;
border-radius:0 0 5px 5px;
position: relative;
z-index: 9999;
}
.profile-card-3 .card-content::before {
  content: '';
  background: #ebf5fd;
  width: 120%;
  height: 100%;
  left: 11px;
  bottom: 51px;
  position: absolute;
  z-index: -1;
  transform: rotate(-13deg);
}
.profile-card-3 .profile {
border-radius: 50%;
position: absolute;
bottom: 50%;
left: 50%;
max-width: 100px;
opacity: 1;
box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
border: 2px solid rgba(255, 255, 255, 1);
-webkit-transform: translate(-50%, 0%);
transform: translate(-50%, 0%);
z-index:99999;
}
.profile-card-3 h2 {
margin: 0 0 5px;
font-weight: 600;
font-size:25px;
}
.profile-card-3 h2 small {
display: block;
font-size: 15px;
margin-top:10px;
}
.profile-card-3 i {
display: inline-block;
  font-size: 16px;
  color: #232323;
  text-align: center;
  border: 1px solid #232323;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  margin:0 5px;
}
.profile-card-3 .icon-block{
  float:left;
  width:100%;
  margin-top:15px;
}
.profile-card-3 .icon-block a{
  text-decoration:none;
}
.profile-card-3 i:hover {
background-color:#232323;
color:#fff;
text-decoration:none;
}

.chart{
  height: 450px;
  width: 850px;
}


.nav-link:after {
  content: "|";
  position: absolute;
  margin-left: 10px;
  color: #4e7f96;
}

.country-container{
  text-align: center;
  align-items: center;
}

.card-deck .card{
  width: 260px;
  color:white;
}

.country-form{
  width: 300px;
  margin: auto;
  margin-top:-30px;
}

@media (max-width: 900px) {
  .nav-link:after {
    display: none;
  }
}

@media (max-width: 900px) {
  .nav-link:after {
    display: none;
  }

  .nav-link{
    font-weight: bold;
    font-size: 1.5em;
    text-transform: uppercase;
    color: mintcream !important;
  }
  .card-deck .card{
    width: 150px;
    color:white;
  }

  .graph{
    width: 675px;
    margin-bottom: 30px;
  }
}


.phone {
  margin: 0 auto;
  height: 50px;
  width: 100px;
  border: 3px solid black;
  border-radius: 10px;
  animation: rotate 1.5s ease-in-out infinite alternate;
   display: none; 
}

.map-message {
  color: black;
  font-size: 1.5em;
  margin-top: 10px;
   display: none; 
}

.map-message2 {
  color: gray;
  font-size: 1.4em;
  margin-top: 40px;
   display: none; 
}

.phone-area{
  margin: 0 auto;
  padding-top: 60px;
  text-align: center;
}

@keyframes rotate {
  0% {
		transform: rotate(0deg)
	}
	50% {
		transform: rotate(-90deg)
	}
	100% {
		transform: rotate(-90deg)
	}
}

@media only screen and (max-device-width: 812px) and (orientation: portrait) {
  .phone, .map-message, .map-message2 {
    display: block;
  }
}