body {
  font-family: 'Roboto Condensed', sans-serif;
}

.navbar {
  background-color: #2d4059 !important;
}

.navbar-toggler {
  border-color: transparent !important;
}

.nav-link {
  color: #d9faff !important;
  font-weight: 550;
  text-decoration: underline;
  text-underline-position: under;
}


.text-color-orange {
  color: #ffffff;
}

.table-responsive {
  height: 85vh;
  overflow-y: scroll;
}

footer {
  color: #ffffff;
  background-color: #283149;
}

.anyClass {
  height:1700px;
  overflow-y: scroll;
}

th, td {
  vertical-align: middle !important;
}

.card-columns {
  column-count: 3;
}